<!---

<h1>Book list</h1>
<% if @books.blank? %>
<p> there are any books currently in the system</p>
<% else %>
<p>current book</p>
<ul id="books">
<% @books.each do |c| %>
<li><%= link_to c.name, {:action=>'show',:controller=>'book',:id=>c.id} -%></li>
<% end %>
</ul>
<%end%>
<p><%= link_to "add new book",{:action => 'new',:controller=>'book'}%></p>
<p><%= link_to "home",{:action=>'welcome',:controller=>'first'}%></p>

--->

<% @book_title="Book" %>
<%=link_to" Back to home",controller: "first" ,action:'welcome',class:"back-link" %>
<div class ="Book Index">
	<h1> Books</h1>
	<style>
		table,th,td{
			border:1px solid black;
			border-collapse: collapse;
		}
		th,td{
			padding:15px;
		}
	</style>
	<%= link_to"Add New Book",controller:"book",action:'new',class:"action new" %>
	<br>
	<br>
	<h3> There are <%=Book.count %> books in library </h3>
	<table class ="listing" summary="book List"style="width:50%">
		<tr class="header">
			<th> Name </th>
			<th> Author </th>
			<th> Price </th>
			<th> actions</th>
		</tr>
		<tr>
		</tr>
		<% @books.each do |b| %>
		<tr class ="<%= cycle('odd','even') %>">
			<td> <%=b.name %></td>
			<td> <%=b.author %></td>
			<td> <%=b.price %></td>

			<td class ="actions">
				<%= link_to"Show",action:'show',id:b.id,class:"action show"%>
				<%= link_to"Edit",action:'edit',id:b.id,class:"action edit"%>
				<%= link_to"Delete",action:'delete',id:b.id,class:"action delete"%>
			</td>
		</tr>
	<%end%>
</table>
</div>

