<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @newuser.name %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @newuser.mobile %>
</p>

<p>
  <strong>Email:</strong>
  <%= @newuser.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @newuser.address %>
</p>

<%= link_to 'Edit', edit_newuser_path(@newuser) %> |
<%= link_to 'Back', newusers_path %>
